POSTGRES_DB=tms
POSTGRES_USER=tms_u
POSTGRES_PASSWORD=tms_p

FRONTEND_HOST=localhost
FRONTEND_PORT=5173
FRONTEND_URL=http://${FRONTEND_HOST}:${FRONTEND_PORT}

app.bootstrap.admin.email=admin@gmail.com
app.bootstrap.admin.password=admin_password

app.jwt.secret=4GWwkFX5RD7PxMIgcjWBBHfVc5CsLa4jpjXE3Qwji0G
app.jwt.access-ttl-seconds=3600