POSTGRES_DB=tms
POSTGRES_USER=tms_u
POSTGRES_PASSWORD=tms_p

APP_URL=http://localhost
VITE_API_URL=/api

RUNS_INGESTION_TOKEN=your_secret

app.bootstrap.admin.email=admin@gmail.com
app.bootstrap.admin.password=admin_password

app.jwt.secret=4GWwkFX5RD7PxMIgcjWBBHfVc5CsLa4jpjXE3Qwji0G
app.jwt.access-ttl-seconds=3600